---
// import { Protect } from '@clerk/astro/components'
---

<!-- <Protect permission="org:invoices:create">
  <p slot="fallback">You do not have the permissions to create an invoice.</p>
  <slot />
</Protect> -->Dashboard
