---
import Layout from '../layouts/Layout.astro'

import Main from '@/components/Main.astro'
import 'swiper/css'
---

<Layout title="Hackathon Blockchain">
  <div
    class="flex min-h-screen flex-col overflow-hidden supports-[overflow:clip]:text-clip"
  >
    <Main />
  </div>
  <script is:inline src="/js/main.js"></script>
</Layout>
