---
import { Icon } from 'astro-icon/components'
---

<section>
  <div class="relative mx-auto max-w-6xl px-4 sm:px-6">
    <!-- Illustration -->
    <div
      class="pointer-events-none absolute inset-0 -z-10 -mx-28 overflow-hidden rounded-t-[3rem]"
      aria-hidden="true"
    >
      <div class="absolute left-1/2 top-0 -z-10 -translate-x-1/2">
        <img
          src="./images/glow-top.svg"
          class="max-w-none"
          width="1404"
          height="658"
          alt="Features Illustration"
        />
      </div>
    </div>

    <div class="pb-12 pt-16 md:pb-20 md:pt-52">
      <div x-data="{ tab: '1' }">
        <!-- Section content -->
        <div
          class="mx-auto flex max-w-xl flex-col space-y-8 space-y-reverse md:max-w-none md:flex-row md:space-x-8 md:space-y-0 lg:space-x-16 xl:space-x-20"
        >
          <!-- Content -->
          <div
            class="order-1 max-md:text-center md:order-none md:w-7/12 lg:w-1/2"
            data-aos="fade-down"
          >
            <!-- Content #1 -->
            <div>
              <div
                class="inline-flex bg-gradient-to-r from-purple-500 to-purple-200 bg-clip-text pb-3 font-medium text-transparent"
              >
                The Sustainability-First Platform
              </div>
            </div>
            <h3
              class="h3 bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text pb-3 text-transparent"
            >
              Simplify Your Eco-Friendly Journey with Blockchain-Powered
              Tracking
            </h3>
            <p class="mb-8 text-lg text-slate-400">
              Track your sustainable actions, earn rewards, and visualize your
              environmental impact in real-time. EcoLedger makes it easy to be
              eco-conscious and see the difference you're making.
            </p>
            <div class="mt-8 max-w-xs space-y-2 max-md:mx-auto">
              <button
                class="flex w-full items-center rounded border bg-slate-800/25 px-3 py-2 text-sm font-medium text-slate-50 transition duration-150 ease-in-out hover:opacity-100"
                :class="tab !== '1' ? 'border-slate-700 opacity-50' : 'border-purple-700 shadow shadow-purple-500/25'"
                @click.prevent="tab = '1'"
              >
                <Icon class="mr-3 w-4 shrink-0" name="plant" />

                <span>Track Your Impact</span>
              </button>
              <button
                class="flex w-full items-center rounded border bg-slate-800/25 px-3 py-2 text-sm font-medium text-slate-50 transition duration-150 ease-in-out hover:opacity-100"
                :class="tab !== '2' ? 'border-slate-700 opacity-50' : 'border-purple-700 shadow shadow-purple-500/25'"
                @click.prevent="tab = '2'"
              >
                <Icon class="mr-3 w-4 shrink-0" name="trophy" />

                <span>Earn Green Rewards</span>
              </button>
              <button
                class="flex w-full items-center rounded border bg-slate-800/25 px-3 py-2 text-sm font-medium text-slate-50 transition duration-150 ease-in-out hover:opacity-100"
                :class="tab !== '3' ? 'border-slate-700 opacity-50' : 'border-purple-700 shadow shadow-purple-500/25'"
                @click.prevent="tab = '3'"
              >
                <Icon class="mr-3 w-4 shrink-0" name="planet-earth" />

                <span>Join the Eco-Community</span>
              </button>
            </div>
          </div>

          <!-- Image -->
          <div class="md:w-5/12 lg:w-1/2" data-aos="de-up" data-aos-delay="100">
            <div class="relative -mt-12 py-24">
              <!-- Particles animation -->
              <div class="absolute inset-0 -z-10">
                <canvas
                  data-particle-animation
                  data-particle-quantity="8"
                  data-particle-staticity="30"></canvas>
              </div>

              <div class="flex items-center justify-center">
                <div class="relative flex size-48 items-center justify-center">
                  <!-- Halo effect -->
                  <svg
                    class="pointer-events-none absolute inset-0 left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 blur-md will-change-transform"
                    width="480"
                    height="480"
                    viewBox="0 0 480 480"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <defs>
                      <linearGradient
                        id="pulse-a"
                        x1="50%"
                        x2="50%"
                        y1="100%"
                        y2="0%"
                      >
                        <stop offset="0%" stop-color="#A855F7"></stop>
                        <stop offset="76.382%" stop-color="#FAF5FF"></stop>
                        <stop offset="100%" stop-color="#6366F1"></stop>
                      </linearGradient>
                    </defs>
                    <g fill-rule="evenodd">
                      <path
                        class="pulse"
                        fill="url(#pulse-a)"
                        fill-rule="evenodd"
                        d="M240,0 C372.5484,0 480,107.4516 480,240 C480,372.5484 372.5484,480 240,480 C107.4516,480 0,372.5484 0,240 C0,107.4516 107.4516,0 240,0 Z M240,88.8 C156.4944,88.8 88.8,156.4944 88.8,240 C88.8,323.5056 156.4944,391.2 240,391.2 C323.5056,391.2 391.2,323.5056 391.2,240 C391.2,156.4944 323.5056,88.8 240,88.8 Z"
                      ></path>
                      <path
                        class="pulse pulse-1"
                        fill="url(#pulse-a)"
                        fill-rule="evenodd"
                        d="M240,0 C372.5484,0 480,107.4516 480,240 C480,372.5484 372.5484,480 240,480 C107.4516,480 0,372.5484 0,240 C0,107.4516 107.4516,0 240,0 Z M240,88.8 C156.4944,88.8 88.8,156.4944 88.8,240 C88.8,323.5056 156.4944,391.2 240,391.2 C323.5056,391.2 391.2,323.5056 391.2,240 C391.2,156.4944 323.5056,88.8 240,88.8 Z"
                      ></path>
                      <path
                        class="pulse pulse-2"
                        fill="url(#pulse-a)"
                        fill-rule="evenodd"
                        d="M240,0 C372.5484,0 480,107.4516 480,240 C480,372.5484 372.5484,480 240,480 C107.4516,480 0,372.5484 0,240 C0,107.4516 107.4516,0 240,0 Z M240,88.8 C156.4944,88.8 88.8,156.4944 88.8,240 C88.8,323.5056 156.4944,391.2 240,391.2 C323.5056,391.2 391.2,323.5056 391.2,240 C391.2,156.4944 323.5056,88.8 240,88.8 Z"
                      ></path>
                    </g>
                  </svg>
                  <!-- Grid -->
                  <div
                    class="pointer-events-none absolute inset-0 left-1/2 top-1/2 size-[500px] -translate-x-1/2 -translate-y-1/2 overflow-hidden rounded-full [mask-image:_radial-gradient(black,_transparent_60%)]"
                  >
                    <div class="h-[200%] animate-endless">
                      <div
                        class="absolute inset-0 opacity-20 blur-[2px] [background:_repeating-linear-gradient(transparent,_transparent_48px,_theme(colors.white)_48px,_theme(colors.white)_49px)]"
                      >
                      </div>
                      <div
                        class="absolute inset-0 [background:_repeating-linear-gradient(transparent,_transparent_48px,_theme(colors.purple.500)_48px,_theme(colors.purple.500)_49px)]"
                      >
                      </div>
                      <div
                        class="absolute inset-0 opacity-20 blur-[2px] [background:_repeating-linear-gradient(90deg,transparent,_transparent_48px,_theme(colors.white)_48px,_theme(colors.white)_49px)]"
                      >
                      </div>
                      <div
                        class="absolute inset-0 [background:_repeating-linear-gradient(90deg,transparent,_transparent_48px,_theme(colors.purple.500)_48px,_theme(colors.purple.500)_49px)]"
                      >
                      </div>
                    </div>
                  </div>
                  <!-- Icons -->
                  <div
                    x-show="tab === '1'"
                    x-transition:enter="transition ease-[cubic-bezier(0.68,-0.3,0.32,1)] duration-700 order-first"
                    x-transition:enter-start="opacity-0 -rotate-[60deg]"
                    x-transition:enter-end="opacity-100 rotate-0"
                    x-transition:leave="transition ease-[cubic-bezier(0.68,-0.3,0.32,1)] duration-700 absolute"
                    x-transition:leave-start="opacity-100 rotate-0"
                    x-transition:leave-end="opacity-0 rotate-[60deg]"
                  >
                    <div
                      class="relative flex size-16 rotate-[-14deg] items-center justify-center rounded-2xl border border-transparent shadow-2xl [background:linear-gradient(theme(colors.slate.900),_theme(colors.slate.900))_padding-box,_conic-gradient(theme(colors.slate.400),_theme(colors.slate.700)_25%,_theme(colors.slate.700)_75%,_theme(colors.slate.400)_100%)_border-box] before:absolute before:inset-0 before:rounded-2xl before:bg-slate-800/30"
                    >
                      <Icon class="size-8 shrink-0" name="graph" />
                    </div>
                  </div>
                  <div
                    x-show="tab === '2'"
                    x-transition:enter="transition ease-[cubic-bezier(0.68,-0.3,0.32,1)] duration-700 order-first"
                    x-transition:enter-start="opacity-0 -rotate-[60deg]"
                    x-transition:enter-end="opacity-100 rotate-0"
                    x-transition:leave="transition ease-[cubic-bezier(0.68,-0.3,0.32,1)] duration-700 absolute"
                    x-transition:leave-start="opacity-100 rotate-0"
                    x-transition:leave-end="opacity-0 rotate-[60deg]"
                  >
                    <div
                      class="relative flex size-16 rotate-[-14deg] items-center justify-center rounded-2xl border border-transparent shadow-2xl [background:linear-gradient(theme(colors.slate.900),_theme(colors.slate.900))_padding-box,_conic-gradient(theme(colors.slate.400),_theme(colors.slate.700)_25%,_theme(colors.slate.700)_75%,_theme(colors.slate.400)_100%)_border-box] before:absolute before:inset-0 before:rounded-2xl before:bg-slate-800/30"
                    >
                      <Icon class="size-8 shrink-0" name="money" />
                    </div>
                  </div>
                  <div
                    x-show="tab === '3'"
                    x-transition:enter="transition ease-[cubic-bezier(0.68,-0.3,0.32,1)] duration-700 order-first"
                    x-transition:enter-start="opacity-0 -rotate-[60deg]"
                    x-transition:enter-end="opacity-100 rotate-0"
                    x-transition:leave="transition ease-[cubic-bezier(0.68,-0.3,0.32,1)] duration-700 absolute"
                    x-transition:leave-start="opacity-100 rotate-0"
                    x-transition:leave-end="opacity-0 rotate-[60deg]"
                  >
                    <div
                      class="relative flex size-16 rotate-[-14deg] items-center justify-center rounded-2xl border border-transparent shadow-2xl [background:linear-gradient(theme(colors.slate.900),_theme(colors.slate.900))_padding-box,_conic-gradient(theme(colors.slate.400),_theme(colors.slate.700)_25%,_theme(colors.slate.700)_75%,_theme(colors.slate.400)_100%)_border-box] before:absolute before:inset-0 before:rounded-2xl before:bg-slate-800/30"
                    >
                      <Icon class="size-8 shrink-0" name="love" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
