<section class="relative">
  <!-- Blurred shape -->
  <div
    class="pointer-events-none absolute left-1/2 top-0 -z-10 -translate-x-1/2 -translate-y-1/4 opacity-50 blur-2xl"
    aria-hidden="true"
  >
    <svg xmlns="http://www.w3.org/2000/svg" width="434" height="427">
      <defs>
        <linearGradient id="bs3-a" x1="19.609%" x2="50%" y1="14.544%" y2="100%">
          <stop offset="0%" stop-color="#6366F1"></stop>
          <stop offset="100%" stop-color="#6366F1" stop-opacity="0"></stop>
        </linearGradient>
      </defs>
      <path
        fill="url(#bs3-a)"
        fill-rule="evenodd"
        d="m410 0 461 369-284 58z"
        transform="matrix(1 0 0 -1 -410 427)"></path>
    </svg>
  </div>

  <div class="mx-auto max-w-6xl px-4 sm:px-6">
    <div class="border-b border-slate-800 pb-12 pt-16 md:pb-20 md:pt-32">
      <!-- Section header -->
      <div class="mx-auto max-w-3xl pb-12 text-center md:pb-20">
        <h2
          class="h2 bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text pb-4 text-transparent"
        >
          More than a login box
        </h2>
        <p class="text-lg text-slate-400">
          There are many variations available, but the majority have suffered
          alteration in some form, by injected humour, or randomised words which
          don't look even slightly believable.
        </p>
      </div>

      <div class="mx-auto max-w-3xl">
        <div data-aos="fade-down">
          <div class="group" data-highlighter>
            <div
              class="relative overflow-hidden rounded-3xl bg-slate-800 p-px before:pointer-events-none before:absolute before:-left-48 before:-top-48 before:z-30 before:size-96 before:translate-x-[var(--mouse-x)] before:translate-y-[var(--mouse-y)] before:rounded-full before:bg-purple-500 before:opacity-0 before:blur-[100px] before:transition-opacity before:duration-500 after:absolute after:inset-0 after:z-10 after:rounded-[inherit] after:opacity-0 after:transition-opacity after:duration-500 after:[background:_radial-gradient(250px_circle_at_var(--mouse-x)_var(--mouse-y),theme(colors.slate.400),transparent)] before:hover:opacity-20 after:group-hover:opacity-100"
            >
              <div
                class="relative z-20 h-full overflow-hidden rounded-[inherit] bg-slate-900"
              >
                <!-- Radial gradient -->
                <div
                  class="pointer-events-none absolute bottom-0 left-1/2 -z-10 aspect-square w-1/2 -translate-x-1/2 translate-y-1/2"
                  aria-hidden="true"
                >
                  <div
                    class="translate-z-0 absolute inset-0 rounded-full bg-purple-500 blur-[120px]"
                  >
                  </div>
                </div>
                <img
                  src="./images/feature-image-04.png"
                  width="768"
                  height="400"
                  alt="Feature 04"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
