---
import CTA from '@components/CTA.astro'
import Testimonials from '@components/Testimonials.astro'
import Hero from '@components/Hero.astro'
import Clients from '@components/Clients.astro'
import TestimonialsCarousel from '@components/TestimonialsCarousel.astro'
import Features from '@components/Features.astro'
import Feature2 from '@components/Features2.astro'
import Feature3 from '@components/Features3.astro'
import Feature4 from '@components/Features4.astro'
---

<!-- Page content -->
<main class="grow">
  <Hero />

  <Clients />

  <!-- Features -->
  <Features />

  <!-- Features #2 -->
  <Feature2 />
  <!-- Features #3 -->
  <Feature3 />
  <!-- Testimonials carousel -->
  <TestimonialsCarousel />

  <!-- Features #4 -->
  <Feature4 />

  <Testimonials />

  <!-- <CTA /> -->
  <CTA />
</main>
