<!-- Pricing -->
<section class="relative">
  <!-- Radial gradient -->
  <div
    class="pointer-events-none absolute inset-0 -z-10 overflow-hidden"
    aria-hidden="true"
  >
    <div
      class="absolute left-1/2 top-0 flex aspect-square w-1/3 -translate-x-1/2 -translate-y-1/2 items-center justify-center"
    >
      <div
        class="translate-z-0 absolute inset-0 rounded-full bg-purple-500 opacity-50 blur-[120px]"
      >
      </div>
    </div>
  </div>
  <div class="mx-auto max-w-6xl px-4 sm:px-6">
    <div class="py-12 md:py-20">
      <!-- Content -->
      <div class="mx-auto max-w-3xl pb-12 text-center md:pb-20">
        <div>
          <div
            class="inline-flex bg-gradient-to-r from-purple-500 to-purple-200 bg-clip-text pb-3 font-medium text-transparent"
          >
            Pricing plans
          </div>
        </div>
        <h2
          class="h2 bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text pb-4 text-transparent"
        >
          Flexible plans and features
        </h2>
        <p class="text-lg text-slate-400">
          All the lorem ipsum generators on the Internet tend to repeat
          predefined chunks as necessary, making this the first true generator
          on the Internet.
        </p>
      </div>
      <!-- Pricing tabs -->
      <div class="relative">
        <!-- Blurred shape -->
        <div
          class="pointer-events-none absolute bottom-0 left-2/3 -mb-20 -translate-x-1/2 opacity-70 blur-2xl max-md:hidden"
          aria-hidden="true"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="434" height="427">
            <defs>
              <linearGradient
                id="bs5-a"
                x1="19.609%"
                x2="50%"
                y1="14.544%"
                y2="100%"
              >
                <stop offset="0%" stop-color="#A855F7"></stop>
                <stop offset="100%" stop-color="#6366F1" stop-opacity="0"
                ></stop>
              </linearGradient>
            </defs>
            <path
              fill="url(#bs5-a)"
              fill-rule="evenodd"
              d="m661 736 461 369-284 58z"
              transform="matrix(1 0 0 -1 -661 1163)"></path>
          </svg>
        </div>
        <!-- Content -->
        <div
          class="grid text-sm md:grid-cols-4 xl:-mx-6 [&>div:nth-last-of-type(-n+4)]:pb-6 max-md:[&>div:nth-last-of-type(-n+4)]:mb-8 max-md:[&>div:nth-last-of-type(-n+4)]:rounded-b-3xl md:[&>div:nth-last-of-type(1)]:rounded-br-3xl before:[&>div:nth-last-of-type(2)]:border-b-2 md:[&>div:nth-last-of-type(3)]:rounded-bl-3xl max-md:[&>div:nth-of-type(-n+4):nth-of-type(n+1)]:rounded-t-3xl [&>div:nth-of-type(-n+4)]:py-6 md:[&>div:nth-of-type(2)]:rounded-tl-3xl before:[&>div:nth-of-type(3)]:border-t-2 md:[&>div:nth-of-type(4)]:rounded-tr-3xl [&>div:nth-of-type(4n+1)]:bg-transparent max-md:[&>div:nth-of-type(4n+2)]:order-1 [&>div:nth-of-type(4n+3)]:relative before:[&>div:nth-of-type(4n+3)]:pointer-events-none before:[&>div:nth-of-type(4n+3)]:absolute before:[&>div:nth-of-type(4n+3)]:-inset-px before:[&>div:nth-of-type(4n+3)]:-z-10 before:[&>div:nth-of-type(4n+3)]:rounded-[inherit] before:[&>div:nth-of-type(4n+3)]:border-x-2 before:[&>div:nth-of-type(4n+3)]:border-purple-500 max-md:[&>div:nth-of-type(4n+3)]:order-2 max-md:[&>div:nth-of-type(4n+4)]:order-3 max-md:[&>div:nth-of-type(4n+5)]:hidden max-md:md:[&>div:nth-of-type(n)]:mb-0 [&>div]:bg-slate-700/20"
          x-data="{ annual: true }"
        >
          <!-- Pricing toggle -->
          <div class="flex flex-col justify-end px-6">
            <div class="border-slate-800 pb-5 md:border-b">
              <!-- Toggle switch -->
              <div class="max-md:text-center">
                <div class="inline-flex items-center whitespace-nowrap">
                  <div
                    class="mr-2 text-sm font-medium text-slate-500 md:max-lg:hidden"
                  >
                    Monthly
                  </div>
                  <div class="relative">
                    <input
                      type="checkbox"
                      id="toggle"
                      class="peer sr-only"
                      x-model="annual"
                    />
                    <label
                      for="toggle"
                      class="relative flex h-6 w-11 cursor-pointer items-center rounded-full bg-slate-400 px-0.5 outline-slate-400 transition-colors before:size-5 before:rounded-full before:bg-white before:shadow-sm before:transition-transform before:duration-150 peer-checked:bg-purple-500 peer-checked:before:translate-x-full peer-focus-visible:outline peer-focus-visible:outline-offset-2 peer-focus-visible:outline-gray-400 peer-checked:peer-focus-visible:outline-purple-500"
                    >
                      <span class="sr-only">Pay Yearly</span>
                    </label>
                  </div>
                  <div class="ml-2 text-sm font-medium text-slate-500">
                    Yearly <span class="text-teal-500">(-20%)</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Pro price -->
          <div class="flex flex-col justify-end px-6">
            <div class="mb-4 border-b border-slate-800 pb-4 grow">
              <div
                class="bg-gradient-to-r from-purple-500 to-purple-200 bg-clip-text pb-0.5 text-base font-medium text-transparent"
              >
                Pro
              </div>
              <div class="mb-1">
                <span class="text-lg font-medium text-slate-500">$</span><span
                  class="text-3xl font-bold text-slate-50"
                  x-text="annual ? '24' : '29'">24</span
                ><span class="text-sm font-medium text-slate-600">/mo</span>
              </div>
              <div class="text-slate-500">Everything at your fingertips.</div>
            </div>
            <div class="border-b border-slate-800 pb-4">
              <a
                class="btn-sm group w-full bg-gradient-to-r from-white/80 via-white to-white/80 text-slate-900 transition duration-150 ease-in-out hover:bg-white"
                href="#0"
              >
                Get Started
                <span
                  class="ml-1 tracking-normal text-purple-500 transition-transform duration-150 ease-in-out group-hover:translate-x-0.5"
                  >-&gt;</span
                >
              </a>
            </div>
          </div>
          <!-- Team price -->
          <div class="flex flex-col justify-end px-6">
            <div class="mb-4 border-b border-slate-800 pb-4 grow">
              <div
                class="bg-gradient-to-r from-purple-500 to-purple-200 bg-clip-text pb-0.5 text-base font-medium text-transparent"
              >
                Team
              </div>
              <div class="mb-1">
                <span class="text-lg font-medium text-slate-500">$</span><span
                  class="text-3xl font-bold text-slate-50"
                  x-text="annual ? '49' : '54'">49</span
                ><span class="text-sm font-medium text-slate-600">/mo</span>
              </div>
              <div class="text-slate-500">Everything at your fingertips.</div>
            </div>
            <div class="border-b border-slate-800 pb-4">
              <a
                class="btn-sm group w-full bg-purple-500 text-white transition duration-150 ease-in-out hover:bg-purple-600"
                href="#0"
              >
                Get Started
                <span
                  class="ml-1 tracking-normal text-purple-300 transition-transform duration-150 ease-in-out group-hover:translate-x-0.5"
                  >-&gt;</span
                >
              </a>
            </div>
          </div>
          <!-- Enterprise price -->
          <div class="flex flex-col justify-end px-6">
            <div class="mb-4 border-b border-slate-800 pb-4 grow">
              <div
                class="bg-gradient-to-r from-purple-500 to-purple-200 bg-clip-text pb-0.5 text-base font-medium text-transparent"
              >
                Enterprise
              </div>
              <div class="mb-1">
                <span class="text-lg font-medium text-slate-500">$</span><span
                  class="text-3xl font-bold text-slate-50"
                  x-text="annual ? '79' : '85'">79</span
                ><span class="text-sm font-medium text-slate-600">/mo</span>
              </div>
              <div class="text-slate-500">Everything at your fingertips.</div>
            </div>
            <div class="border-b border-slate-800 pb-4">
              <a
                class="btn-sm group w-full bg-gradient-to-r from-white/80 via-white to-white/80 text-slate-900 transition duration-150 ease-in-out hover:bg-white"
                href="#0"
              >
                Get Started
                <span
                  class="ml-1 tracking-normal text-purple-500 transition-transform duration-150 ease-in-out group-hover:translate-x-0.5"
                  >-&gt;</span
                >
              </a>
            </div>
          </div>
          <!-- # Usage -->
          <div class="flex flex-col justify-end px-6">
            <div class="mt-4 py-2 font-medium text-slate-50">Usage</div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div class="mt-4 py-2 font-medium text-slate-50 md:hidden">
              Usage
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div class="mt-4 py-2 font-medium text-slate-50 md:hidden">
              Usage
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div class="mt-4 py-2 font-medium text-slate-50 md:hidden">
              Usage
            </div>
          </div>
          <!-- Social Connections -->
          <div class="flex flex-col justify-end px-6">
            <div class="border-b border-slate-800 py-2 text-slate-400">
              Social Connections
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div
              class="flex h-full items-center border-b border-slate-800 py-2 text-slate-400"
            >
              <svg
                class="mr-3 fill-purple-500 shrink-0"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="9"
              >
                <path
                  d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"
                ></path>
              </svg>
              <span
                >100
                <span class="md:hidden">Social Connections</span></span
              >
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div
              class="flex h-full items-center border-b border-slate-800 py-2 text-slate-400"
            >
              <svg
                class="mr-3 fill-purple-500 shrink-0"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="9"
              >
                <path
                  d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"
                ></path>
              </svg>
              <span
                >250
                <span class="md:hidden">Social Connections</span></span
              >
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div
              class="flex h-full items-center border-b border-slate-800 py-2 text-slate-400"
            >
              <svg
                class="mr-3 fill-purple-500 shrink-0"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="9"
              >
                <path
                  d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"
                ></path>
              </svg>
              <span
                >Unlimited
                <span class="md:hidden">Social Connections</span></span
              >
            </div>
          </div>
          <!-- Custom Domains -->
          <div class="flex flex-col justify-end px-6">
            <div class="border-b border-slate-800 py-2 text-slate-400">
              Custom Domains
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div
              class="flex h-full items-center border-b border-slate-800 py-2 text-slate-400"
            >
              <svg
                class="mr-3 fill-purple-500 shrink-0"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="9"
              >
                <path
                  d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"
                ></path>
              </svg>
              <span>4 <span class="md:hidden">Custom Domains</span></span>
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div
              class="flex h-full items-center border-b border-slate-800 py-2 text-slate-400"
            >
              <svg
                class="mr-3 fill-purple-500 shrink-0"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="9"
              >
                <path
                  d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"
                ></path>
              </svg>
              <span
                >Unlimited
                <span class="md:hidden">Custom Domains</span></span
              >
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div
              class="flex h-full items-center border-b border-slate-800 py-2 text-slate-400"
            >
              <svg
                class="mr-3 fill-purple-500 shrink-0"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="9"
              >
                <path
                  d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"
                ></path>
              </svg>
              <span
                >Unlimited
                <span class="md:hidden">Custom Domains</span></span
              >
            </div>
          </div>
          <!-- User Role Management -->
          <div class="flex flex-col justify-end px-6">
            <div class="border-b border-slate-800 py-2 text-slate-400">
              User Role Management
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div
              class="flex h-full items-center border-b border-slate-800 py-2 text-slate-400"
            >
              <svg
                class="mr-3 fill-purple-500 shrink-0"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="9"
              >
                <path
                  d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"
                ></path>
              </svg>
              <span
                >Unlimited
                <span class="md:hidden">User Role Management</span></span
              >
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div
              class="flex h-full items-center border-b border-slate-800 py-2 text-slate-400"
            >
              <svg
                class="mr-3 fill-purple-500 shrink-0"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="9"
              >
                <path
                  d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"
                ></path>
              </svg>
              <span
                >Unlimited
                <span class="md:hidden">User Role Management</span></span
              >
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div
              class="flex h-full items-center border-b border-slate-800 py-2 text-slate-400"
            >
              <svg
                class="mr-3 fill-purple-500 shrink-0"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="9"
              >
                <path
                  d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"
                ></path>
              </svg>
              <span
                >Unlimited
                <span class="md:hidden">User Role Management</span></span
              >
            </div>
          </div>
          <!-- External Databases -->
          <div class="flex flex-col justify-end px-6">
            <div class="border-b border-slate-800 py-2 text-slate-400">
              External Databases
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div
              class="flex h-full items-center border-b border-slate-800 py-2 text-slate-400"
            >
              <svg
                class="mr-3 fill-purple-500 shrink-0"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="9"
              >
                <path
                  d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"
                ></path>
              </svg>
              <span
                >1
                <span class="md:hidden">External Databases</span></span
              >
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div
              class="flex h-full items-center border-b border-slate-800 py-2 text-slate-400"
            >
              <svg
                class="mr-3 fill-purple-500 shrink-0"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="9"
              >
                <path
                  d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"
                ></path>
              </svg>
              <span
                >5
                <span class="md:hidden">External Databases</span></span
              >
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div
              class="flex h-full items-center border-b border-slate-800 py-2 text-slate-400"
            >
              <svg
                class="mr-3 fill-purple-500 shrink-0"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="9"
              >
                <path
                  d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"
                ></path>
              </svg>
              <span
                >Unlimited
                <span class="md:hidden">External Databases</span></span
              >
            </div>
          </div>
          <!-- # Features -->
          <div class="flex flex-col justify-end px-6">
            <div class="mt-4 py-2 font-medium text-slate-50">Features</div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div class="mt-4 py-2 font-medium text-slate-50 md:hidden">
              Features
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div class="mt-4 py-2 font-medium text-slate-50 md:hidden">
              Features
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div class="mt-4 py-2 font-medium text-slate-50 md:hidden">
              Features
            </div>
          </div>
          <!-- Custom Connection -->
          <div class="flex flex-col justify-end px-6">
            <div class="border-b border-slate-800 py-2 text-slate-400">
              Custom Connection
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div
              class="flex h-full items-center border-b border-slate-800 py-2 text-slate-400"
            >
              <svg
                class="mr-3 fill-purple-500 shrink-0"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="9"
              >
                <path
                  d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"
                ></path>
              </svg>
              <span><span class="md:hidden">Custom Connection</span></span>
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div
              class="flex h-full items-center border-b border-slate-800 py-2 text-slate-400"
            >
              <svg
                class="mr-3 fill-purple-500 shrink-0"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="9"
              >
                <path
                  d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"
                ></path>
              </svg>
              <span><span class="md:hidden">Custom Connection</span></span>
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div
              class="flex h-full items-center border-b border-slate-800 py-2 text-slate-400"
            >
              <svg
                class="mr-3 fill-purple-500 shrink-0"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="9"
              >
                <path
                  d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"
                ></path>
              </svg>
              <span><span class="md:hidden">Custom Connection</span></span>
            </div>
          </div>
          <!-- Advanced Deployment Options -->
          <div class="flex flex-col justify-end px-6">
            <div class="border-b border-slate-800 py-2 text-slate-400">
              Advanced Deployment Options
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div
              class="flex h-full items-center border-b border-slate-800 py-2 text-slate-400"
            >
              <svg
                class="mr-3 fill-purple-500 shrink-0"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="9"
              >
                <path
                  d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"
                ></path>
              </svg>
              <span
                ><span class="md:hidden">Advanced Deployment Options</span
                ></span
              >
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div
              class="flex h-full items-center border-b border-slate-800 py-2 text-slate-400"
            >
              <svg
                class="mr-3 fill-purple-500 shrink-0"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="9"
              >
                <path
                  d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"
                ></path>
              </svg>
              <span
                ><span class="md:hidden">Advanced Deployment Options</span
                ></span
              >
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div
              class="flex h-full items-center border-b border-slate-800 py-2 text-slate-400"
            >
              <svg
                class="mr-3 fill-purple-500 shrink-0"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="9"
              >
                <path
                  d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"
                ></path>
              </svg>
              <span
                ><span class="md:hidden">Advanced Deployment Options</span
                ></span
              >
            </div>
          </div>
          <!-- Extra Add-ons -->
          <div class="flex flex-col justify-end px-6">
            <div class="border-b border-slate-800 py-2 text-slate-400">
              Extra Add-ons
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div
              class="flex h-full items-center border-b border-slate-800 py-2 text-slate-400"
            >
              <svg
                class="mr-3 fill-purple-500 shrink-0"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="9"
              >
                <path
                  d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"
                ></path>
              </svg>
              <span><span class="md:hidden">Extra Add-ons</span></span>
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div
              class="flex h-full items-center border-b border-slate-800 py-2 text-slate-400"
            >
              <svg
                class="mr-3 fill-purple-500 shrink-0"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="9"
              >
                <path
                  d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"
                ></path>
              </svg>
              <span><span class="md:hidden">Extra Add-ons</span></span>
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div
              class="flex h-full items-center border-b border-slate-800 py-2 text-slate-400"
            >
              <svg
                class="mr-3 fill-purple-500 shrink-0"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="9"
              >
                <path
                  d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"
                ></path>
              </svg>
              <span><span class="md:hidden">Extra Add-ons</span></span>
            </div>
          </div>
          <!-- Admin Roles -->
          <div class="flex flex-col justify-end px-6">
            <div class="border-b border-slate-800 py-2 text-slate-400">
              Admin Roles
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div
              class="flex items-center border-b border-slate-800 py-2 text-slate-400 max-md:hidden"
            >
              <span><span class="md:hidden">Admin Roles</span></span>
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div
              class="flex items-center border-b border-slate-800 py-2 text-slate-400 max-md:hidden"
            >
              <span><span class="md:hidden">Admin Roles</span></span>
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div
              class="flex h-full items-center border-b border-slate-800 py-2 text-slate-400"
            >
              <svg
                class="mr-3 fill-purple-500 shrink-0"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="9"
              >
                <path
                  d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"
                ></path>
              </svg>
              <span><span class="md:hidden">Admin Roles</span></span>
            </div>
          </div>
          <!-- Deploy and Monitor -->
          <div class="flex flex-col justify-end px-6">
            <div class="border-b border-slate-800 py-2 text-slate-400">
              Deploy and Monitor
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div
              class="flex items-center border-b border-slate-800 py-2 text-slate-400 max-md:hidden"
            >
              <span><span class="md:hidden">Deploy and Monitor</span></span>
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div
              class="flex items-center border-b border-slate-800 py-2 text-slate-400 max-md:hidden"
            >
              <span><span class="md:hidden">Deploy and Monitor</span></span>
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div
              class="flex h-full items-center border-b border-slate-800 py-2 text-slate-400"
            >
              <svg
                class="mr-3 fill-purple-500 shrink-0"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="9"
              >
                <path
                  d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"
                ></path>
              </svg>
              <span><span class="md:hidden">Deploy and Monitor</span></span>
            </div>
          </div>
          <!-- Enterprise Add-ons -->
          <div class="flex flex-col justify-end px-6">
            <div class="border-b border-slate-800 py-2 text-slate-400">
              Enterprise Add-ons
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div
              class="flex items-center border-b border-slate-800 py-2 text-slate-400 max-md:hidden"
            >
              <span><span class="md:hidden">Enterprise Add-ons</span></span>
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div
              class="flex items-center border-b border-slate-800 py-2 text-slate-400 max-md:hidden"
            >
              <span><span class="md:hidden">Enterprise Add-ons</span></span>
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div
              class="flex h-full items-center border-b border-slate-800 py-2 text-slate-400"
            >
              <svg
                class="mr-3 fill-purple-500 shrink-0"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="9"
              >
                <path
                  d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"
                ></path>
              </svg>
              <span><span class="md:hidden">Enterprise Add-ons</span></span>
            </div>
          </div>
          <!-- # Support -->
          <div class="flex flex-col justify-end px-6">
            <div class="mt-4 py-2 font-medium text-slate-50">Support</div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div class="mt-4 hidden py-2 font-medium text-slate-50">
              Support
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div class="mt-4 py-2 font-medium text-slate-50 md:hidden">
              Support
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div class="mt-4 py-2 font-medium text-slate-50 md:hidden">
              Support
            </div>
          </div>
          <!-- Premium Support -->
          <div class="flex flex-col justify-end px-6">
            <div class="border-b border-slate-800 py-2 text-slate-400">
              Premium Support
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div
              class="flex items-center border-b border-slate-800 py-2 text-slate-400 max-md:hidden"
            >
              <span><span class="md:hidden">Premium Support</span></span>
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div
              class="flex h-full items-center border-b border-slate-800 py-2 text-slate-400"
            >
              <svg
                class="mr-3 fill-purple-500 shrink-0"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="9"
              >
                <path
                  d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"
                ></path>
              </svg>
              <span><span class="md:hidden">Premium Support</span></span>
            </div>
          </div>
          <div class="flex flex-col justify-end px-6">
            <div
              class="flex h-full items-center border-b border-slate-800 py-2 text-slate-400"
            >
              <svg
                class="mr-3 fill-purple-500 shrink-0"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="9"
              >
                <path
                  d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z"
                ></path>
              </svg>
              <span><span class="md:hidden">Premium Support</span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
