<!-- Testimonials -->
<section>
  <div class="mx-auto max-w-3xl px-4 sm:px-6">
    <div class="relative pb-12 md:pb-20">
      <!-- Particles animation -->
      <div class="absolute left-1/2 top-0 -z-10 -mt-6 size-80 -translate-x-1/2">
        <div class="absolute inset-0 -z-10" aria-hidden="true">
          <canvas
            data-particle-animation
            data-particle-quantity="10"
            data-particle-staticity="30"></canvas>
        </div>
      </div>

      <!-- Carousel -->
      <div class="text-center" x-data="carousel">
        <!-- Testimonial image -->
        <div
          class="relative h-32 [mask-image:_linear-gradient(0deg,transparent,theme(colors.white)_40%,theme(colors.white))]"
        >
          <div
            class="pointer-events-none absolute left-1/2 top-0 -z-10 size-[480px] -translate-x-1/2 rounded-full before:absolute before:inset-0 before:-z-20 before:rounded-full before:bg-gradient-to-b before:from-slate-400/20 before:to-transparent before:to-20% after:absolute after:inset-0 after:-z-20 after:m-px after:rounded-full after:bg-slate-900"
          >
            <!-- Alpine.js template for testimonial images: https://github.com/alpinejs/alpine#x-for -->
            <template x-for="(item, index) in items" :key="index">
              <div
                x-show="active === index"
                class="absolute inset-0 -z-10"
                x-transition:enter="transition ease-[cubic-bezier(0.68,-0.3,0.32,1)] duration-700 order-first"
                x-transition:enter-start="opacity-0 -rotate-[60deg]"
                x-transition:enter-end="opacity-100 rotate-0"
                x-transition:leave="transition ease-[cubic-bezier(0.68,-0.3,0.32,1)] duration-700"
                x-transition:leave-start="opacity-100 rotate-0"
                x-transition:leave-end="opacity-0 rotate-[60deg]"
              >
                <img
                  class="relative left-1/2 top-11 -translate-x-1/2 rounded-full"
                  :src="item.img"
                  width="56"
                  height="56"
                  :alt="item.name"
                  alt=""
                />
              </div>
            </template>
          </div>
        </div>
        <!-- Text -->
        <div class="mb-10">
          <div
            class="relative flex flex-col transition-all delay-300 duration-150 ease-in-out"
            x-ref="testimonials"
          >
            <!-- Alpine.js template for testimonials: https://github.com/alpinejs/alpine#x-for -->
            <template x-for="(item, index) in items" :key="index">
              <div
                x-show="active === index"
                x-transition:enter="transition ease-in-out duration-500 delay-200 order-first"
                x-transition:enter-start="opacity-0 -translate-x-4"
                x-transition:enter-end="opacity-100 translate-x-0"
                x-transition:leave="transition ease-out duration-300 delay-300 absolute"
                x-transition:leave-start="opacity-100 translate-x-0"
                x-transition:leave-end="opacity-0 translate-x-4"
              >
                <div
                  class="bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 bg-clip-text text-xl font-bold text-transparent"
                  x-text="item.quote"
                >
                </div>
              </div>
            </template>
          </div>
        </div>
        <!-- Buttons -->
        <div class="-m-1.5 flex flex-wrap justify-center">
          <!-- Alpine.js template for buttons: https://github.com/alpinejs/alpine#x-for -->
          <template x-for="(item, index) in items" :key="index">
            <button
              class="btn-sm relative m-1.5 py-1.5 text-xs text-slate-300 transition duration-150 ease-in-out [background:linear-gradient(theme(colors.slate.900),_theme(colors.slate.900))_padding-box,_conic-gradient(theme(colors.slate.400),_theme(colors.slate.700)_25%,_theme(colors.slate.700)_75%,_theme(colors.slate.400)_100%)_border-box] before:pointer-events-none before:absolute before:inset-0 before:rounded-full before:bg-slate-800/30"
              :class="active === index ? 'opacity-100' : 'opacity-30 hover:opacity-60'"
              @click="active = index; stopAutorotate();"
            >
              <span class="relative">
                <span class="text-slate-50" x-text="item.name"></span>
                <span class="text-slate-600">-</span>
                <span x-text="item.role"></span>
              </span>
            </button>
          </template>
        </div>
      </div>
      <!-- Carousel data and functionality: https://github.com/alpinejs/alpine -->
      <script is:inline>
        document.addEventListener('alpine:init', () => {
          Alpine.data('carousel', () => ({
            active: 0,
            autorotate: true,
            autorotateTiming: 7000,
            heightFix() {
              this.$nextTick(() => {
                this.$refs.testimonials.style.height =
                  this.$refs.testimonials.children[this.active + 1]
                    .offsetHeight + 'px'
              })
            },
            init() {
              if (this.autorotate) {
                this.autorotateInterval = setInterval(() => {
                  this.active =
                    this.active + 1 === this.items.length ? 0 : this.active + 1
                }, this.autorotateTiming)
              }
              this.$watch('active', (callback) => this.heightFix())
            },
            items: [
              {
                img: './images/testimonial-01.jpg',
                name: 'Jessie J',
                quote:
                  "The ability to capture responses is a game-changer. If a user gets tired of the sign up and leaves, that data is still persisted. Additionally, it's great to be able to select between formats.",
                role: 'Ltd Head of Product',
              },
              {
                img: './images/testimonial-02.jpg',
                name: 'Mark Luk',
                quote:
                  'I have been using this product for a few weeks now and I am blown away by the results. My skin looks visibly brighter and smoother, and I have received so many compliments on my complexion.',
                role: 'Spark Founder & CEO',
              },
              {
                img: './images/testimonial-03.jpg',
                name: 'Jeff Kahl',
                quote:
                  "As a busy professional, I don't have a lot of time to devote to working out. But with this fitness program, I have seen amazing results in just a few short weeks. The workouts are efficient and effective.",
                role: 'Appy Product Lead',
              },
            ],
            stopAutorotate() {
              clearInterval(this.autorotateInterval)
              this.autorotateInterval = null
            },
          }))
        })
      </script>
    </div>
  </div>
</section>
