---
interface Props {
  title: string
}
import Footer from '@/components/Footer.astro'
const { title } = Astro.props
import Unfont from 'unplugin-fonts/astro/component.astro'
import Header from '@/components/Header.astro'
// import { ViewTransitions } from 'astro:transitions'
import 'aos/dist/aos.css' // AOS styles
import '../styles/main.css'
---

<!doctype html>
<html class="scroll-smooth" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="Astro description" name="description" />
    <meta content="width=device-width" name="viewport" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
    <!-- <ViewTransitions /> -->
    <meta content={Astro.generator} name="generator" />
    <title>{title}</title>
    <Unfont />
    <link rel="preload" href="/js/swiper-bundle.min.js" as="script" />
    <script is:inline src="/js/swiper-bundle.min.js"></script>
  </head>
  <body
    class="bg-slate-900 font-inter tracking-tight text-slate-100 antialiased"
  >
    <Header />

    <slot />

    <Footer />

    <script>
      import { aosInit } from '../js/aos.js'
      aosInit()
      document.addEventListener('astro:after-swap', aosInit)
    </script>
  </body>
</html>
